/*  reset */
* {
   margin: 0;
   padding: 0;
   font-family: "Roboto";
   box-sizing: border-box;
}

body {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background-color: #333;
}

.container {
   display: flex;
   flex-direction: column;
   background-color: #fff;
   height: 280px;
   width: 420px;
   border-radius: 10px;
   padding: 20px;
   transition: 0.2s;
}

.container.active {
   height: 510px;
}

/* header */
#qr-header {
   text-align: center;
}

#qr-header h1 {
   font-size: 1.8rem;
   margin-bottom: 10px;
}

#qr-header p {
   color: #444;
   font-size: 0.9rem;
}

/* Formulario */

#qr-form {
   margin: 20px 15px;
}

#qr-form input,
#qr-form button {
   width: 100%;
   height: 55px;
   border: none;
   border-radius: 5px;
   font-size: .9rem;
}

#qr-form input {
   border: 1px solid #777;
   padding: 10px 15px;
}

#qr-form button {
   background-color: #000;
   color: #fff;
   margin-top: 20px;
   font-size: 1.2rem;
   cursor: pointer;
   opacity: 0.9;
   transition: 0.4s;
}

#qr-form button:hover {
   opacity: 1;
}

/* QR code */

#qr-code {
   display: flex;
   opacity: 0;
   border: 1px solid #ccc;
   padding: 30px 0;
   margin: 20px 15px;
   justify-content: center;
   border-radius: 4px;
   transition: 0.5s;
}

.container.active #qr-code {
   opacity: 1;
}







